@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.button {
  display: block;
  width: 300px;
  height: 60px;
  padding: 0;

  font-size: $font-size-large;
  text-transform: uppercase;
  color: $color-secondary;

  background: $color-light;
  border: none;

  cursor: pointer;
  transition: all $transition-behavior;

  @include tablet {
    font-size: $font-size-main;
  }

  @include phone {
    width: 100%;
  }

  &:focus,
  &:hover {
    font-weight: 600;
    color: $color-main;
    background: $color-blue;
    outline: none;
  }
}

