.works {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100vh;
  width: 100%;

  object-fit: cover;
}

.work {
  position: relative;
  display: block;
  width: 100%;
  object-fit: cover;
}
