@import "../../styles/utils/vars";
@import "../../styles/utils/mixins";

.contacts {
  height: 100%;

  @include pagePadding;

  @include phone {
    background: $color-page-bg-transparent-blue;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 460px;
    padding: 40px 40px 50px;

    background: $color-page-bg-transparent-blue;

    & > li:last-of-type {
      margin-top: 20px;
    }

    @include phone {
      width: 100%;
      padding: 15px 10px;
      background: none;
    }
  }

  &__downloadButton {
    height: 50px;
    @include button;
    font-size: $font-size-main;
  }
}
