@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.link {
  position: relative;
  padding: 15px 0;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-secondary;

  outline: none;

  transition: color $transition-behavior;

  @include smallTablet {
    width: 100%;
    text-align: center;
  }

  @include phone {
    padding: 10px 0;
  }

  &_active {
    color: $color-blue;
  }

  @include hoverLinkDecoration(20%);
  
  &:hover:after,
  &:focus:after {

    @include smallTablet {
      width: 0;
      background: none;
    }
  }
}