.works {

  &__inner {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    width: 100%;
    padding: 20px 0;
  }
}

