@import '../../../../styles/utils/vars';

.works {

  &__inner {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    width: 100%;
    padding: $page-padding-top-main 0 20px;
  }
}

