@import '../../../../styles/utils/vars';
@import '../../../../styles/utils/mixins';

.works {

  &__inner {
    position: relative;
    z-index: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  
    width: 100%;
    padding: $page-padding-top-main 0 40px;

    @include smallTablet {
      grid-template-columns: 1fr;
    };

    @include phone {
      gap: 20px;
      padding: $page-padding-top-phone 0 20px;
    };
  }
}

