@import '../../../../styles/utils/vars';
@import '../../../../styles/utils/mixins';

.about {
  height: 100%;
  
  
  @include pagePadding;

  @include phone {
    background: $color-page-bg-transparent-blue;
  }

  &__inner {
    display: flex;
    gap: 40px;

    height: 100%;

    color: $color-grey;;
    text-shadow: $shadow-dark;

    @include tablet {
      flex-direction: column;
      gap: 30px;
    }

    @include phone {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__col {
    flex-basis: 50%;

    height: 100%;
    padding: 40px;
    background: $color-page-bg-transparent-blue;

    @include smallTablet {
      flex-basis: 100%;
    }

    @include phone {
      padding: 0;
      background: none;
    }
  }

  &__colItem {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include phone {
      margin-bottom: 40px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 32px;

    font-size: $font-size-large;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    color: $color-blue;

    @include phone {
      margin-bottom: 20px;
      font-size: $font-size-main;
    }
  }
}
