@import '../../../../styles/utils/vars';
@import '../../../../styles/utils/mixins';

.home {
  position: relative;

  @include pagePadding;

  background: $color-page-bg-transparent-blue;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    
    @include phone {
      margin-top: 15px;
      padding-bottom: 80px;;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    
    max-width: 750px;
    width: 100%;

    color: $color-secondary;

    @include tablet {
      max-width: 600px;
    }
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;
    font-size: 60px;
    text-shadow: $shadow-dark;

    @include tablet {
      font-size: 48px;
    }

    @include smallTablet {
      font-size: 40px;
    }

    @include phone {
      font-size: 34px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 50px;
    
    font-size: $font-size-large;
    line-height: 1.4;
    text-shadow: $shadow-dark;

    @include tablet {
      font-size: $font-size-main;
    }
  }

  &__button {
    width: 300px;
    margin: 0 auto;

    @include phone {
      width: 100%;
    }
  }
}
