@import './utils/normalize';
@import './fonts/open-sans.scss';
@import './fonts/fredericka.scss';
@import './fonts/pacifico.scss';
@import './fonts/icons.scss';

@import './utils/vars';
@import './utils/mixins';

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-main;
  font-size: $font-size-main;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-extra-normal);
  border-radius: 20px;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;

  height: 100vh;
}

.container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
