@import './utils/normalize';
@import './fonts/open-sans.scss';
@import './fonts/fredericka.scss';

@import './utils/vars';
@import './utils/mixins';

html {
  font-family: $font-family-main;
  font-size: $font-size-main;

  scroll-behavior: smooth;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 50px;

  height: 100vh;
}

.container {
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
