@import '../../../../styles/utils/vars';
@import '../../../../styles/utils/mixins';

.contacts {

  @include pagePadding;

  @include phone {
    background: $color-page-bg-transparent-blue;
  }
  
  &__inner {
    max-width: 500px;
    margin: 0 auto;
    padding: 60px;
    background: $color-page-bg-transparent-blue;


    @include phone {
      max-width: 300px;
      padding: 0;
      background: none;
    }
  }

  &__button {
    margin: 60px auto 0;
  }
}

