$color-main: #2b2b2b;
$color-secondary: #fff;
$color-black: #000;

$color-light: #234aa0;
$color-normal: #122061;
$color-dark: #0b123a;
$color-page-bg-transparent-blue: rgba(0, 10, 36, 0.9);
$color-page-bg-transparent-black: rgba(0, 0, 0, 0.75);

$color-blue: #66ffff;
$color-yellow: #fbff00;
$color-grey: #ebebeb;

$color-header-bg: linear-gradient($color-normal, $color-light);
$color-footer-bg: linear-gradient($color-light, $color-dark);

$color-logo-leftPart: $color-blue;
$color-logo-rightPart: $color-yellow;

$shadow-dark: 1px 1px 5px #000;
$shadow-light: 1px 1px 5px #fff;

$font-family-main: 'Open Sans', sans-serif;
$font-family-logo: 'Fredericka the Great', cursive;
$font-family-signature: 'Pacifico', cursive;

$font-size-main: 16px;
$font-size-large: 18px;
$font-size-small: 14px;
$font-size-mini: 12px;

$transition-behavior: 0.1s linear;

$height-header-desctop: 60px;
$height-header-tablet: 60px;
$height-header-phone: 50px;

$page-padding-top-desktop: $height-header-desctop + 30px;
$page-padding-top-tablet: $height-header-tablet + 20px;
$page-padding-top-phone: $height-header-phone + 15px;
