$color-main: #2b2b2b;
$color-secondary: #fff;
$color-black: #000;

$color-light: #234aa0;
$color-normal: #122061;
$color-dark: #0b123a;
$color-transparent-page-home: rgba(0, 10, 36, 0.9);
$color-transparent-page-works: rgba(0, 0, 0, 0.75);
$color-transparent-page-about: rgba(1, 18, 61, 0.9);

$color-blue: #66ffff;
$color-yellow: #fbff00;
$color-grey: #ebebeb;

$color-header-bg: linear-gradient($color-normal, $color-light);
$color-footer-bg: linear-gradient($color-light, $color-dark);

$color-logo-leftPart: $color-blue;
$color-logo-rightPart: $color-yellow;

$shadow-dark: 1px 1px 5px #000;
$shadow-light: 1px 1px 5px #fff;

$font-family-main: 'Open Sans', sans-serif;
$font-family-logo: 'Fredericka the Great', cursive;
$font-family-signature: 'Pacifico', cursive;

$font-size-main: 18px;
$font-size-large: 22px;
$font-size-small: 16px;
$font-size-mini: 14px;
$font-size-very-small: 12px;

$transition-behavior: 0.1s linear;

$height-header-main: 70px;
$height-header-phone: 50px;

$page-padding-top-main: $height-header-main + 40px;
$page-padding-top-phone: $height-header-phone + 20px;
