$color-main: #2b2b2b;
$color-secondary: #fff;
$color-darck: #000;

$color-light: #4575dd;
$color-normal: #001ea3;
$color-dark: #000158;

$color-header-bg: linear-gradient(var(--color-normal), var(--color-light));
$color-footer-bg: linear-gradient(var(--color-normal), var(--color-dark));

$color-shadow: rgba(255, 255, 255, 0.5);

$font-family-main: 'Open Sans', sans-serif;
$font-size-main: 18px;

$transition-behavior: 0.2s linear;