@import '../../../../../styles/utils/vars';
@import '../../../../../styles/utils/mixins';

.work {
  position: relative;

  border: 2px solid $color-grey;
  
  &__description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 15px;
    font-size: $font-size-main;
    line-height: 1.6;
    text-shadow: $shadow-dark;
    color: $color-secondary;
  
    background: transparent;

    opacity: 0;
    transition: opacity $transition-behavior;

    @include phone {
      font-size: $font-size-very-small;
    };
  }

  &:hover &__description {
    background: $color-normal;
    opacity: 0.94;
  }

  &__descriptionItemTitle {
    color: $color-blue;
  }
  
  &__image {
    position: relative;
  }
  
  &__github {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
  
    border-radius: 50%;
    transition: all $transition-behavior;
  }
  
  &__github:focus {
    outline: none;
  }
  
  &__githubIcon {
    display: block;
  
    font-size: 50px;
    color: transparent;
  }
  
  &:hover &__githubIcon {
    color: $color-secondary;
  }
  
  &__github:hover {
    transform: scale(1.1);
    background: $color-black;
    box-shadow: $shadow-dark;
  }
}

