@import '../../styles/utils/vars';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  background: $color-header-bg;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 70px;
}