@import '../../../../../../styles/utils/vars';

.expirienceItem {
  margin-bottom: 24px;
  padding-bottom: 16px;
  
  font-size: $font-size-small;
  line-height: 1.25;

  border-bottom: 1px dashed $color-blue;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: none;
  }

  &__element {
    margin-bottom: 12px;
  }

  &__elementName {
    font-size: $font-size-small;
    color: $color-yellow;
  }

  &__elementInfo {
    font-style: italic;
    color: $color-grey;
  }

  &__technologies {
    margin-top: 8px;
    padding-left: 16px;
  }

  &__responsibilities {
    list-style: disc;
    padding-left: 32px;
  }

  &__responsibility {
    margin-top: 8px;
  }
}
