@import '../../../styles/utils/vars';
@import '../../../styles/utils/mixins';

.logo {
  position: relative;
  z-index: 10;

  display: flex;
  font-family: $font-family-logo;
  font-size: 44px;
  font-weight: 400;

  text-decoration: none;
  text-shadow: $shadow-dark;

  outline: none;

  cursor: pointer;

  &:focus {
    text-shadow: $shadow-light;
  }

  @include tablet {
    font-size: 36px;
  }

  @include phone {
    font-size: 30px;
  }

  &__leftPart,
  &__rightPart {
    transition: color $transition-behavior;
  }

  &__leftPart {
    color: $color-logo-leftPart;
  }

  &__rightPart {
    color: $color-logo-rightPart;
  }

  &:hover &__leftPart {
    color: $color-logo-rightPart;
  
  }

  &:hover &__rightPart {
    color: $color-logo-leftPart;
  }
}



